@font-face {
  font-family: "LOZ-font";
  src: local("Triforce"), url(../fonts/Triforce.ttf) format("truetype"); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;
  color: #777;
  box-sizing: border-box; }

.header {
  height: 94vh;
  background-image: linear-gradient(to right bottom, rgba(238, 238, 238, 0.2), rgba(126, 126, 126, 0.2)), url(../img/LOM-temp-1.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem; }

.header__logo {
  height: 5rem; }

.header__text-box {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'LOZ-font', sans-serif;
  backface-visibility: hidden;
  margin-bottom: 4rem; }

.heading-primary--legend {
  display: block;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 2.8rem;
  text-align: right;
  animation: moveInRight 2s ease-out; }

.heading-primary--marceline {
  display: block;
  font-weight: 400;
  letter-spacing: 1rem;
  line-height: 200%;
  animation: moveInLeft 2s ease-out; }

.heading-primary--marceline--1 {
  font-size: 14rem; }

.heading-primary--marceline--2 {
  font-size: 10rem; }

.heading-primary--breath {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: .8rem;
  text-align: right;
  animation: moveInRight 2s ease-out; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.btn:link,
.btn:visited {
  margin: 1rem;
  display: inline-block;
  transition: all .2s; }

.btn:hover {
  transform: translateY(-0.3rem);
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, .2); */ }

.btn:active {
  transform: translateY(-0.1rem); }

.btn-icon {
  height: 6rem; }

.btn--animated--1 {
  opacity: 1;
  animation: fadeInDown 1.5s ease-out 1.5s;
  animation-fill-mode: backwards; }

.btn--animated--2 {
  opacity: 1;
  animation: fadeInDown 1.5s ease-out 1.9s;
  animation-fill-mode: backwards; }

.btn--animated--3 {
  opacity: 1;
  animation: fadeInDown 1.5s ease-out 2.3s;
  animation-fill-mode: backwards; }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/* @keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
} */
