@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@font-face {
  font-family: "LOZ-font";
  src: local("Triforce"), url(fonts/Triforce.ttf) format("truetype"); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;
  color: #4b3d3b; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  font-family: 'LOZ-font', sans-serif;
  backface-visibility: hidden; }
  @media (max-width: 37.5em) {
    .heading-primary {
      line-height: .8; } }
  .heading-primary--legend {
    display: block;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 2.8rem;
    text-align: right;
    animation: moveInRight 2s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--legend {
        font-size: 2.03rem;
        letter-spacing: 2.1rem; } }
  .heading-primary--marceline {
    display: block;
    font-weight: 400;
    letter-spacing: 1rem;
    line-height: 200%;
    animation: moveInLeft 2s ease-out; }
    .heading-primary--marceline--big {
      font-size: 14rem; }
      @media (max-width: 37.5em) {
        .heading-primary--marceline--big {
          font-size: 10.5rem;
          letter-spacing: .75rem; } }
    .heading-primary--marceline--small {
      font-size: 10rem; }
      @media (max-width: 37.5em) {
        .heading-primary--marceline--small {
          font-size: 7.5rem;
          letter-spacing: .75rem; } }
  .heading-primary--breath {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .8rem;
    text-align: right;
    animation: moveInRight 2s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--breath {
        font-size: 2.25rem;
        letter-spacing: .6rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'LOZ-font', sans-serif;
  letter-spacing: .7rem !important;
  display: inline-block;
  background-image: linear-gradient(to right, #AE987B, #796c51);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-align {
  text-align: center !important; }

.u-left-align {
  text-align: left !important; }

.u-right-align {
  text-align: right !important; }

.u-mt-10 {
  margin-top: 10rem !important; }

.u-mb-1 {
  margin-bottom: 1rem !important; }

.u-mb-2 {
  margin-bottom: 2rem !important; }

.u-mb-3 {
  margin-bottom: 3rem !important; }

.u-mb-4 {
  margin-bottom: 4rem !important; }

.u-mb-5 {
  margin-bottom: 5rem !important; }

.u-mb-6 {
  margin-bottom: 6rem !important; }
  @media (max-width: 56.25em) {
    .u-mb-6 {
      margin-bottom: 4.5rem !important; } }

.u-mb-7 {
  margin-bottom: 7rem !important; }

.u-mb-8 {
  margin-bottom: 8rem !important; }

.u-mb-9 {
  margin-bottom: 9rem !important; }

.u-mb-10 {
  margin-bottom: 10rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .25;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  text-decoration: none;
  margin: 1rem;
  display: inline-block;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  font-family: inherit !important;
  font-weight: inherit !important; }

.btn:hover {
  transform: translateY(-0.3rem); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.05rem); }

.btn-image {
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  text-decoration: none;
  margin: 1rem;
  display: inline-block;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn-icon {
  height: 6rem; }

.btn--animated--fastest {
  opacity: 1;
  animation: fadeInDown 1.5s ease-out 1.5s;
  animation-fill-mode: backwards; }

.btn--animated--faster {
  opacity: 1;
  animation: fadeInDown 1.5s ease-out 1.9s;
  animation-fill-mode: backwards; }

.btn--animated--fast {
  opacity: 1;
  animation: fadeInDown 1.5s ease-out 2.3s;
  animation-fill-mode: backwards; }

.btn--white {
  background-color: #fff;
  color: #4b3d3b; }

.btn--brown {
  background-color: #AE987B;
  color: #fff; }
  .btn--brown:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #796c51;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #796c51;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #796c51;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 100rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
  border-radius: 0; }
  .card__side {
    height: 50rem;
    width: 100%;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 4rem rgba(22, 22, 22, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to bottom, #C1B69B, #F0E6CD); }
      .card__side--back--2 {
        background-image: linear-gradient(to bottom, #C1B69B, #F0E6CD); }
      .card__side--back--3 {
        background-image: linear-gradient(to bottom, #C1B69B, #F0E6CD); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 22rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 80%);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 80%);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; }
    .card__picture--1 {
      background-image: linear-gradient(to bottom, #4b3d3b, #F0E6CD), url(../img/expansion-packs/triforce-small.jpg); }
      @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
        .card__picture--1 {
          background-image: linear-gradient(to bottom, #4b3d3b, #F0E6CD), url(../img/expansion-packs/triforce.jpg); } }
    .card__picture--2 {
      background-image: linear-gradient(to bottom, #4b3d3b, #F0E6CD), url(../img/expansion-packs/mastersword-small.jpg); }
      @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
        .card__picture--2 {
          background-image: linear-gradient(to bottom, #4b3d3b, #F0E6CD), url(../img/expansion-packs/mastersword.jpg); } }
    .card__picture--3 {
      background-image: linear-gradient(to bottom, #4b3d3b, #F0E6CD), url(../img/expansion-packs/fairyfountain-small.jpg); }
      @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
        .card__picture--3 {
          background-image: linear-gradient(to bottom, #4b3d3b, #F0E6CD), url(../img/expansion-packs/fairyfountain.jpg); } }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 16rem;
    left: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: .5rem .6rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to bottom, #C1B69B, #F0E6CD); }
    .card__heading-span--2 {
      background-image: linear-gradient(to bottom, #C1B69B, #F0E6CD); }
    .card__heading-span--3 {
      background-image: linear-gradient(to bottom, #C1B69B, #F0E6CD); }
  .card__details {
    padding: 3rem;
    margin-top: -1.5rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #d1d1d1; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .card__date-box {
    text-align: center;
    margin: 0 auto;
    color: #fff; }
    .card__date-box--release {
      font-size: 1.6rem;
      text-transform: uppercase; }
    .card__date-box--value {
      font-size: 5.5rem;
      font-weight: 100; }
  @media (max-width: 56.25em) {
    .card {
      height: auto;
      border-radius: 1rem !important;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(22, 22, 22, 0.15);
      overflow: hidden; }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none;
        border-radius: 0; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        width: 100%;
        position: relative;
        top: 0%;
        left: 0;
        transform: translate(0);
        padding: 5rem 0 3rem 0; }
      .card__date-box {
        margin: 0 auto; }
        .card__date-box--value {
          font-size: 4.5rem; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 3rem rgba(22, 22, 22, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    filter: saturate(0.8) contrast(0.8); }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.333333%;
        box-shadow: 0 1.5rem 2rem rgba(22, 22, 22, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.25); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: 2rem;
          transform: scale(1.35);
          z-index: 25; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          left: 0;
          top: -.5rem;
          transform: scale(1.2); } }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 3rem rgba(22, 22, 22, 0.5);
      z-index: 20; }
      @media (max-width: 56.25em) {
        .composition__photo:hover {
          transform: scale(1.35) translateY(-1.5rem);
          z-index: 30; } }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(1.05); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.65);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 3rem rgba(22, 22, 22, 0.15);
  transition: all .3s; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 5.5rem;
    margin-bottom: 1rem;
    display: inline-block;
    background-image: linear-gradient(to right, #F0E6CD, #4b3d3b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: .5rem; } }
  .feature-box:hover {
    transform: scale(1.02) translateY(-1rem);
    box-shadow: 0 2.5rem 3rem rgba(22, 22, 22, 0.3); }

.form__group:not(:last-child) {
  margin-bottom: 1rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1rem 2rem;
  border-radius: .2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 85%;
  display: block;
  transition: all .3s; }
  @media (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(22, 22, 22, 0.1);
    border-bottom: 3px solid #40c526; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #c92b2b; }
  .form__input::-webkit-input-placeholder {
    color: #777; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  margin-left: 1rem; }
  .form__radio-group:not(:last-child) {
    margin-bottom: 1rem; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 0.4rem solid #AE987B;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -.35rem;
  left: 0; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    background-color: #AE987B;
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1; }

.logo {
  height: 5rem;
  font-family: 'LOZ-font', sans-serif;
  color: #fff !important;
  text-decoration: none !important;
  position: relative; }
  .logo--triforce {
    font-size: 9rem; }
  .logo--LOM {
    font-size: 2rem;
    letter-spacing: 1rem;
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-43%); }

.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(22, 22, 22, 0.8);
  z-index: 1300;
  opacity: 0;
  visibility: hidden; }
  .modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(22, 22, 22, 0.2);
    border-radius: 1rem;
    display: table;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .4s 1s; }
    @media (max-width: 37.5em) {
      .modal__content {
        padding: 1.5rem; } }
  .modal__image-section {
    width: 33.3333333%;
    display: table-cell; }
    @media (max-width: 56.25em) {
      .modal__image-section {
        width: 100%;
        display: block; } }
  .modal__img {
    display: block;
    width: 100%; }
    @media (max-width: 56.25em) {
      .modal__img {
        display: inline;
        float: left;
        width: 50%;
        margin-bottom: 3rem; } }
    @media (max-width: 37.5em) {
      .modal__img {
        margin-bottom: 2rem; } }
  .modal__text-section {
    width: 66.66666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 4rem; }
    @media (max-width: 56.25em) {
      .modal__text-section {
        width: 100%;
        display: block;
        padding-bottom: 0; } }
  .modal__text {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    -moz-column-count: 2;
    -moz-column-gap: 3rem;
    column-count: 2;
    column-gap: 3rem;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
    @media (max-width: 56.25em) {
      .modal__text {
        margin-bottom: 1rem;
        -moz-column-count: 1;
        column-count: 1; } }
  .modal:target {
    opacity: 1;
    visibility: visible; }
  .modal:target .modal__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .modal__close-btn:link, .modal__close-btn:visited {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 1rem 3rem rgba(22, 22, 22, 0.2);
    display: table-cell;
    text-align: center;
    text-decoration: none;
    position: fixed;
    top: -2rem;
    right: -2rem;
    z-index: 1400; }
  .modal__close-btn--icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #4b3d3b;
    font-size: 3.5rem;
    transition: all .2s; }
  .modal__close-btn:hover > .modal__close-btn--icon {
    font-size: 4rem; }

.review {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(22, 22, 22, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 1rem;
  padding: 4.5rem 3.5rem;
  padding-left: 9rem;
  font-size: 1.6rem; }
  @media (max-width: 56.25em) {
    .review {
      width: 100%;
      padding: 3.5rem 2.5rem;
      padding-left: 6rem; } }
  .review__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    border-radius: 50%;
    overflow: hidden;
    transform: translateX(-3rem);
    position: relative; }
  .review__img {
    height: 100%;
    transform: scale(1.1);
    transition: all .5s; }
  .review__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 35%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .review:hover .review__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .review:hover .review__img {
    transform: scale(1);
    filter: blur(0.25rem) brightness(80%); }
  .review:not(:last-child) {
    margin-bottom: 7rem; }

.footer {
  background-color: #4b3d3b;
  padding: 9rem 0;
  font-size: 1.3rem;
  color: #f7f7f7;
  letter-spacing: .05rem; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 6rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 7rem; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 5rem; } }
  .footer__logo {
    width: 8rem;
    height: auto; }
  .footer__navigation {
    border-top: 0.1rem solid #f7f7f7;
    padding-top: 1.5rem;
    width: 70%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center;
        float: none; } }
  .footer__list {
    list-style: none;
    text-align: center; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      padding-right: 2rem; }
      @media (max-width: 37.5em) {
        .footer__item:not(:last-child) {
          display: block;
          padding: 0; } }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    text-decoration: none;
    transition: all .3s;
    display: inline-block; }
  .footer__link:hover, .footer__link:active {
    transform: translateY(-0.3rem) scale(1.02);
    color: #F0E6CD; }
  .footer__copyright {
    border-top: 0.1rem solid #f7f7f7;
    padding-top: 1.5rem;
    width: 78%; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        text-align: center;
        float: none; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 5rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 5rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - (2 * 6rem))/3); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 6rem))/4); }
  .row .col-2-of-3 {
    width: calc(100% - (100% - (2 * 6rem))/3 - 6rem); }
  .row .col-2-of-4 {
    width: calc(100% - (100% - 6rem)/2 - 6rem); }
  .row .col-3-of-4 {
    width: calc(100% - (100% - (3 * 6rem))/4 - 6rem); }

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(238, 238, 238, 0.2), rgba(126, 126, 126, 0.2)), url(../img/LOM-header-small.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(238, 238, 238, 0.2), rgba(126, 126, 126, 0.2)), url(../img/LOM-header.jpg); } }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 1.5rem;
    left: 5rem;
    animation: fadeIn 1s ease-out;
    animation-fill-mode: backwards; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 0; }
    @media (max-width: 56.25em) {
      .header__text-box {
        margin-top: 4rem; } }
    @media (max-width: 37.5em) {
      .header__text-box {
        margin-top: 5rem; } }
  .header__icon-box {
    margin-top: 4rem; }
    @media (max-width: 56.25em) {
      .header__icon-box {
        margin-top: 12rem; } }
    @media (max-width: 37.5em) {
      .header__icon-box {
        margin-top: 16rem; } }

.nav__checkbox {
  display: none; }

.nav__button {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 5rem;
  right: 5rem;
  cursor: pointer;
  background-color: #fff;
  z-index: 1200;
  box-shadow: 0 1rem 3rem rgba(22, 22, 22, 0.2); }
  @media (max-width: 56.25em) {
    .nav__button {
      top: 4rem;
      right: 4rem; } }
  .nav__button:hover > .nav__icon {
    font-size: 4rem; }

.nav__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
  transition: all .2s; }
  .nav__icon--open {
    opacity: 1;
    visibility: visible; }
  .nav__icon--close {
    opacity: 0;
    visibility: hidden; }

.nav__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 5.5rem;
  right: 5.5rem;
  background-image: radial-gradient(#C1B69B, #d2bc83);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .nav__background {
      top: 4.5rem;
      right: 4.5rem; } }

.nav__menu {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translateX(100rem); }

.nav__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.nav__item {
  margin: 1.5rem 2.5rem; }

.nav__link {
  transition: all .35s; }
  .nav__link:link, .nav__link:visited {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
    font-weight: 100;
    padding: .5rem 1rem;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 240%; }
  .nav__link:active, .nav__link:hover {
    background-position: 100%;
    color: #AE987B; }

.nav__checkbox:checked ~ .nav__background {
  transform: scale(80); }

.nav__checkbox:checked ~ .nav__menu {
  opacity: 1;
  visibility: visible;
  transform: translate(0); }

.nav__checkbox:checked ~ .nav__button > .nav__icon--open {
  opacity: 0;
  visibility: hidden; }

.nav__checkbox:checked ~ .nav__button > .nav__icon--close {
  opacity: 1;
  visibility: visible; }

.section-about {
  background-color: #f7f7f7;
  padding: 18rem 0;
  margin-top: -10vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 15rem 0 17rem 0; } }
  @media (max-width: 37.5em) {
    .section-about {
      padding: 14rem 0 16rem 0; } }

.section-features {
  padding: 16rem 0;
  background-image: linear-gradient(to right bottom, rgba(238, 238, 238, 0.2), rgba(126, 126, 126, 0.2)), url(../img/LOM-features-small.jpg);
  background-size: cover;
  transform: skewY(-4deg);
  margin-top: -5.5rem; }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    .section-features {
      background-image: linear-gradient(to right bottom, rgba(238, 238, 238, 0.2), rgba(126, 126, 126, 0.2)), url(../img/LOM-features.jpg); } }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 14rem 0;
      background-image: linear-gradient(to right bottom, rgba(238, 238, 238, 0.2), rgba(126, 126, 126, 0.2)), url(../img/LOM-features-smaller.jpg); } }
  @media (max-width: 37.5em) {
    .section-features {
      padding: 10rem 0; } }
  .section-features > * {
    transform: skewY(4deg); }

.section-dlc {
  background-color: #f7f7f7;
  padding: 15rem 0 14rem 0; }
  @media (max-width: 56.25em) {
    .section-dlc {
      padding: 12rem 0; } }
  @media (max-width: 37.5em) {
    .section-dlc {
      padding: 9rem 0; } }

.section-reviews {
  position: relative;
  padding: 14rem 0; }
  @media (max-width: 56.25em) {
    .section-reviews {
      padding: 10rem 0; } }
  @media (max-width: 37.5em) {
    .section-reviews {
      padding: 8rem 0; } }

.section-signup {
  padding: 13rem 0;
  background-image: linear-gradient(to top left, #C1B69B, #F0E6CD); }
  @media (max-width: 56.25em) {
    .section-signup {
      padding: 9rem 0; } }

.signup {
  background-image: linear-gradient(100deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../img/LOM-signup-small.jpg);
  filter: opacity(0.8) brightness(1.1);
  background-size: 100%;
  border-radius: .5rem;
  box-shadow: 0 1.5rem 4rem rgba(22, 22, 22, 0.2); }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    .signup {
      background-image: linear-gradient(100deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../img/LOM-signup.jpg); } }
  @media (max-width: 75em) {
    .signup {
      background-image: linear-gradient(100deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 60%, transparent 60%), url(../img/LOM-signup.jpg);
      background-size: cover; } }
  @media (max-width: 56.25em) {
    .signup {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url(../img/LOM-signup-smaller.jpg); } }
  .signup__form {
    width: 50%;
    padding: 5rem 6rem; }
    @media (max-width: 75em) {
      .signup__form {
        width: 75%;
        padding: 3rem 5rem; } }
    @media (max-width: 56.25em) {
      .signup__form {
        width: 100%; } }
