// COLORS 

// MAIN PALETTE
$color-wood: #E3C877;
$color-beige: #F0E6CD;
$color-olivegreen: #907A49;

// FORM VALIDATION
$color-red: #c92b2b;
$color-green: #40c526;

// GRAYS
$color-slategray: #2B252D;
$color-grey-dark: #777;
$color-grey-light: #f7f7f7;

// BROWNS
$color-brown-dark: rgb(75, 61, 59);
$color-brown-light: rgb(134, 105, 90);

// OTHER COLORS
$color-white: #fff;
$color-black: rgb(22, 22, 22);

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;