.footer {
    background-color: $color-grey-dark;
    padding: 9rem 0;
    font-size: 1.4rem;
    color: $color-grey-light;
    letter-spacing: .05rem;

    &__logo-box {
        text-align: center;
        margin-bottom: 7rem;
    }
    
    &__logo {
        width: 8rem;
        height: auto;
    }
    
    &__navigation {
        border-top: .1rem solid $color-grey-light;
        padding-top: 1.5rem;
        width: 70%;
        float: right;
    }
    
    &__list {
        list-style: none;
        text-align: center;
    }
    
    &__item {
        display: inline-block;

        &:not(:last-child) {
            padding-right: 2rem;
        }
    }
    
    &__link {
        &:link,
        &:visited {
            color: $color-grey-light;
            text-decoration: none;
            transition: all .3s;
            display: inline-block;
        }

        &:hover,
        &:active {
            transform: translateY(-.3rem) scale(1.02);
        }
    }

    &__copyright {
        border-top: .1rem solid $color-grey-light;
        padding-top: 1.5rem;
        width: 78%;
    }
}