.btn {
    &,
    &:link,
    &:visited {
        padding: 1rem 1.5rem;
        border-radius: 2rem;
        text-decoration: none;
        margin: 1rem;
        display: inline-block;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;

        // For form <button> submit element
        border: none;
        cursor: pointer;
        font-family: inherit !important;
        font-weight: inherit !important;
    }
    
    &:hover {
        transform: translateY(-.3rem);
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-.05rem);
    }
    
    &-icon {
        height: 6rem;
    }

    &--animated {
        &--fastest {
            opacity: 1;
            animation: fadeInDown 1.5s ease-out 1.5s;
            animation-fill-mode: backwards;
        }
        
        &--faster {
            opacity: 1;
            animation: fadeInDown 1.5s ease-out 1.9s;
            animation-fill-mode: backwards;
        }
        
        &--fast {
            opacity: 1;
            animation: fadeInDown 1.5s ease-out 2.3s;
            animation-fill-mode: backwards;
        }
    }

    &--white {
        background-color: $color-white;
        color: $color-brown-dark;
    }

    &--brown {
        background-color: $color-brown-light;
        color: $color-white;

        &:hover {
            box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
        }
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: 1.6rem;
        color: $color-olivegreen;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-olivegreen;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-olivegreen;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba(black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba(black, .15);
        transform: translateY(0);
    }
}