.card {

    // FUNCTIONALITY
    perspective:100rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;

    &__side {
        height: 50rem;
        width: 100%;
        transition: all .8s ease;

        position: absolute;
        top: 0;
        left: 0;

        backface-visibility: hidden;
        overflow: hidden;
        border-radius: 1rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-image: linear-gradient(to bottom,
            $color-white,
            $color-grey-light);
        }

        &--back {
            transform: rotateY(-180deg);

            &--1 {
                background-image: linear-gradient(to bottom,
                rgb(255, 195, 82),
                rgb(255, 250, 205));
            }

            &--2 {
                background-image: linear-gradient(to bottom,
                rgb(253, 110, 110),
                rgb(255, 192, 203));
            }

            &--3 {
                background-image: linear-gradient(to bottom,
                rgb(248, 136, 248),
                rgb(173, 216, 230));
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 22rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 80%);
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 80%);
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        &--1 {
            background-image: linear-gradient(to bottom,
            rgb(255, 195, 82),
            rgb(255, 250, 205)),
            url(../img/LOM-temp-3.jpg);
        }

        &--2 {
            background-image: linear-gradient(to bottom,
            rgb(253, 110, 110),
            rgb(255, 192, 203)),
            url(../img/LOM-temp-3.jpg);
        }

        &--3 {
            background-image: linear-gradient(to bottom,
            rgb(248, 136, 248),
            rgb(173, 216, 230)),
            url(../img/LOM-temp-3.jpg);
        }
    }

    &__heading {
        font-size: 2.5rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-grey-light;
        position: absolute;
        top: 16rem;
        left: 2rem;
        width: 75%;
    }

    &__heading-span {
        padding: .5rem .6rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
            
        &--1 {
            background-image: linear-gradient(to right bottom,
            rgba(255, 195, 82, .85),
            rgba(255, 250, 205, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom,
            rgba(253, 110, 110, .85),
            rgba(255, 194, 204, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom,
            rgba(248, 136, 248, .85),
            rgba(173, 216, 230, .85));
        }
    }

    &__details {
        padding: 3rem;
        margin-top: -1.5rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
                
                &:not(:last-child) {
                    border-bottom: 1px solid darken($color-grey-light, 15%);
                }
            }
        }
    }

    // BACK SIDE STYLING
    &__cta {
        
        @include center-element;
        text-align: center;
    }

    &__date-box {
        text-align: center;
        margin: 0 auto;
        color: $color-white;

        &--release {
            font-size: 1.6rem;
            text-transform: uppercase;
        }

        &--value {
            font-size: 5.5rem;
            font-weight: 100;
        }
    }
}