// Resets and styles for HTML and body element selectors

@font-face {
    font-family: "LOZ-font";
    src:
        local('Triforce'),
        url(fonts/Triforce.ttf)
        format('truetype');
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // Global definition defining what 1rem is (10px)
    font-size: 62.5%;

    // Viewport width < 1200px?
    @include respond(tab-land) {
        // 1rem = 9px
        font-size: 56.25%;
    }

    // Viewport width < 900px?
    @include respond(tab-port) {
        // 1rem = 8px
        font-size: 50%;
    }

    // Viewport width > 1800px?
    @include respond(big-desk) {
        // 1rem = 12px
        font-size: 75%; 
    }
}

body {
    box-sizing: border-box;
}