body {
    font-family: 'Lato', sans-serif;
    font-size: $default-font-size;
    font-weight: 300;
    line-height: 1.5;
    color: $color-brown-dark;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    font-family: 'LOZ-font', sans-serif;
    text-shadow: 0 0 15px grey;
    backface-visibility: hidden;

    @include respond(big-desk) {
        line-height: 2;
    }

    @include respond(phone) {
        line-height: .8;
    }

    &--legend {
        display: block;
        font-size: 2.5rem;
        font-weight: 400;
        letter-spacing: 2.8rem;
        text-align: right;
        animation: moveInRight 2s ease-out;

        @include respond(big-desk) {
            font-size: 3.33rem;
            letter-spacing: 3.73rem;
        }

        @include respond(phone) {
            font-size: 2.03rem;
            letter-spacing: 2.1rem;
        }
    }
    
    &--marceline {
        display: block;
        font-weight: 400;
        letter-spacing: 1rem;
        line-height: 200%;
        animation: moveInLeft 2s ease-out;

        &--big {
            font-size: 14rem;

            @include respond(big-desk) {
                font-size: 18.7rem;
                letter-spacing: 1.33rem;
            }

            @include respond(phone) {
                font-size: 10.5rem;
                letter-spacing: .75rem;
            }
        }
        
        &--small {
            font-size: 10rem;

            @include respond(big-desk) {
                font-size: 13.3rem;
                letter-spacing: 1.33rem;
            }

            @include respond(phone) {
                font-size: 7.5rem;
                letter-spacing: .75rem;
            }
        }
    }
        
    &--breath {
        display: block;
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: .8rem;
        text-align: right;
        animation: moveInRight 2s ease-out;

        @include respond(big-desk) {
            font-size: 3rem;
            letter-spacing: 1.1rem;
        }

        @include respond(phone) {
            font-size: 2.25rem;
            letter-spacing: .6rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'LOZ-font', sans-serif;
    letter-spacing: .7rem !important;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }

    display: inline-block;
    background-image: linear-gradient(to right, $color-brown-light, $color-olivegreen);
    background-clip: text;;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    transition: all .2s;
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
    
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}