.section-about {
    background-color: $color-grey-light;
    padding: 18rem 0;
    margin-top: -10vh;

    @include respond(tab-port) {
        padding: 15rem 0 17rem 0;
    }

    @include respond(phone) {
        padding: 14rem 0 16rem 0;
    }
}

.section-features {
    padding: 16rem 0;
    background-image: linear-gradient(to right bottom,
    rgba(238, 238, 238, .2),
    rgba(126, 126, 126, .2)),
    url(../img/LOM-features-small.jpg);
    background-size: cover;
    transform: skewY(-4deg);
    margin-top: -5.5rem;

    // Media query for using the larger image for higher resolution wider than 600px, OR very large screens
    @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
        background-image: linear-gradient(to right bottom,
        rgba(238, 238, 238, .2),
        rgba(126, 126, 126, .2)),
        url(../img/LOM-features.jpg);
    }

    @include respond(tab-port) {
        padding: 14rem 0;
        background-image: linear-gradient(to right bottom,
        rgba(238, 238, 238, .2),
        rgba(126, 126, 126, .2)),
        url(../img/LOM-features-smaller.jpg);
    }

    @include respond(phone) {
        padding: 10rem 0;
        background-image: linear-gradient(to right bottom,
        rgba(238, 238, 238, .2),
        rgba(126, 126, 126, .2)),
        url(../img/LOM-features-mobile.jpg);
    }

    & > * {
        transform: skewY(4deg);
    }
}

.section-dlc {
    background-color: $color-grey-light;
    padding: 15rem 0 14rem 0;

    @include respond(tab-port) {
        padding: 12rem 0;
    }

    @include respond(phone) {
        padding: 9rem 0;
    }
}

.section-reviews {
    position: relative;
    padding: 14rem 0;

    @include respond(tab-port) {
        padding: 10rem 0;
    }

    @include respond(phone) {
        padding: 8rem 0;
    }
}

.section-signup {
    padding: 13rem 0;
    background-image: linear-gradient(to top left,
    $color-wood,
    $color-beige);

    @include respond(tab-port) {
        padding: 9rem 0;
    }
}

.signup {
    background-image: linear-gradient(100deg,
        rgba($color-white, .8) 0%,
        rgba($color-white, .8) 50%,
        transparent 50%),
        url(../img/LOM-signup-small.jpg);
    filter: opacity(.8) brightness(1.1);
    background-size: 100%;
    border-radius: .5rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

    // Media query for using the larger image for higher resolution wider than 600px, OR very large screens
    @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
        background-image: linear-gradient(100deg,
            rgba($color-white, .8) 0%,
            rgba($color-white, .8) 50%,
            transparent 50%),
            url(../img/LOM-signup.jpg);
    }

    @include respond(tab-land) {
        background-image: linear-gradient(100deg,
            rgba($color-white, .8) 0%,
            rgba($color-white, .8) 60%,
            transparent 60%),
            url(../img/LOM-signup.jpg);
        background-size: cover;  
    }

    @include respond(tab-port) {
        background-image: linear-gradient(to right,
            rgba($color-white, .8) 0%,
            rgba($color-white, .8) 100%),
            url(../img/LOM-signup-smaller.jpg);
    }

    &__form {
        width: 50%;
        padding: 5rem 6rem;

        @include respond(tab-land) {
            width: 75%;
            padding: 3rem 5rem;   
        }

        @include respond(tab-port) {
            width: 100%;
        }
    }
}