.section-about {
    background-color: $color-grey-light;
    padding: 20rem 0;
    margin-top: -10vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
    rgba(238, 238, 238, .2),
    rgba(126, 126, 126, .2)),
    url(../img/LOM-temp-3.jpg);
    background-size: cover;
    transform: skewY(-4deg);
    margin-top: -5.5rem;

    & > * {
        transform: skewY(4deg);
    }
}

.section-updates {
    background-color: $color-grey-light;
    padding: 18rem 0 6rem 0;
}

.section-reviews {
    position: relative;
    padding: 15rem;
}