.section-about {
    background-color: $color-grey-light;
    padding: 15rem 0;
    margin-top: -10vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
    rgba(238, 238, 238, .2),
    rgba(126, 126, 126, .2)),
    url(../img/LOM-temp-2.jpg);
    background-size: cover;
}